<!DOCTYPE html>
<html  lang="en" ng-app="contacts">
  <head>
    <title>Contact Manager</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="http://link/to/bootstrap.css" rel="stylesheet">
    <link href="http://link/to/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://link/to/html5shiv.js"></script>
    <![endif]-->

    <style>
    .dl-horizontal { 
      dd { .clearfix(); }
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Contact Manager</h1>
      <div ng-view></div>

    </div><!-- end of container -->
    <script src="http://link/to//angular.js"></script>
    <script src="http://link/to/ui-bootstrap-0.4.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="http://link/to/jquery.js"></script>
    <script src="http://link/to/bootstrap.js"></script>
  </body>
</html>
