<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputCompany">Company</label>
    <div class="controls">
      <input type="text" id="inputCompany" ng-model="form.company" name="company" placeholder="Company">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPosition">Position</label>
    <div class="controls">
      <input type="text" id="inputPosition" ng-model="form.job" name="job" placeholder="Position (title)">
    </div>
  </div>
  <div class="control-group input-prepend">
    <label class="control-label" for="prependedInput">URL</label>
    <div class="controls">
      <span class="add-on">http://</span><input type="text" id="prependedInput" ng-model="form.link" name="link" placeholder="URL">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button ng-click="add()" type="submit" class="btn btn-info"><i class="icon-plus icon-white"></i> Add job</button>
    </div>
  </div>
</form>